<ion-view  style="background-image:url(img/c4.jpg);background-repeat:no-repeat;background-size:cover;"  ng-controller="electionCtrl">
  <ion-content>


    <div class="bar bar-header bar-calm">
      <a  class="button button-outline icon-center ion-navicon button-dark" ng-click="showhide()"></a>
      <h1 class="title">ABOUT CANDIDATE</h1>
      <a ui-sref="election" class="button icon-left ion-arrow-left-c button-clear button-dark"></a>
    </div>
    <br/><br/><br/>

    <div class="list card " ng-show="formvisible">

      <a ui-sref="action" class="item item-icon-left" style="background-color:deepskyblue;" >
        <i class="icon ion-man"></i>
        ACTION
      </a>
    </div>

    <div class="list card " ng-show="formvisible">
      <a ui-sref="information" class="item item-icon-left" style="background-color:deepskyblue;">
        <i class="icon ion-folder"></i>
        ACHIEVEMENTS
      </a>
    </div>

    <div class="list card " ng-show="formvisible">
      <a ui-sref="products2" class="item item-icon-left" style="background-color:deepskyblue;">
        <i class="icon ion-laptop"></i>
        EVENTS
      </a>
    </div>


    <div class="list card " ng-show="formvisible">
      <a ui-sref="reachus" class="item item-icon-left" style="background-color:deepskyblue;" >
        <i class="icon ion-map"></i>
        REACH US
      </a>
    </div>



    <div class="list card">

      <a ui-sref="home" class="item item-icon-left">
        <i class="icon ion-home"></i>
        HOME
      </a>

      <a ui-sref="education" class="item item-icon-left">
        <i class="icon ion-ios-book"></i>
        EDUCATION
      </a>

      <a ui-sref="survival" class="item item-icon-left">
        <i class="icon ion-ios-contact"></i>
        SURVIVAL DURATION
      </a>

      <a ui-sref="previous" class="item item-icon-left">
        <i class="icon ion-ios-photos"></i>
        PREVIOUS CONSISTENT DETAILS
      </a>

    </div>
    <div class="tabs tabs-icon-top" style="background-color:black;">
      <a ui-sref="election" class="tab-item" style="color:white;">
        <i class="icon ion-social-facebook" ></i>
        facebook
      </a>
      <a class="tab-item"style="color:white;">
        <i class="icon ion-email" ></i>
        gmail
      </a>
      <a ui-sref="login" class="tab-item"style="color:white;">
        <i class="icon ion-social-twitter"></i>
        twitter
      </a>
    </div>

  </ion-content>
</ion-view>
