<!--<script type="text/ng-template" id="inputDatePicker.html">
  <ion-item class="item-icon-right">
    <i ng-click="to.onclick(model,options)"
       class="icon ion-ios-calendar-outline"></i>
    {{ model[options.key] | date : to.dateFormat }}
  </ion-item>
</script>-->


<ion-view>
  <ion-content>
    <!--<button class="button button-block" ng-click="openDatePicker()">Show Toast</button>-->
    <ionic-datepicker date="currentDate" min="minDate" max="maxDate" callback="datePickerCallback">
      <button class="button button-block button-positive"> {{ currentDate | date:'MMMM/dd/yyyy' }} </button>
    </ionic-datepicker>

  </ion-content>
</ion-view>
