<ion-view>
  <ion-content>
    <!--<a href="http://www.pdf995.com/samples/pdf.pdf" download="HTML 5 PDF">click me</a>-->
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">PDF Tutorial</h1>
      </ion-header-bar>
      <ion-content ng-controller="DocumentController as vm" class="padding">
        <p><button ng-click="vm.createInvoice()" class="button icon-left ion-play button-assertive">Create Invoice</button></p>
      </ion-content>
    </ion-pane>
  </ion-content>
</ion-view>


<script id="pdf-viewer.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Invoice</h1>
      <button ng-click="vm.modal.hide()" class="button button-icon icon ion-android-close"></button>
    </ion-header-bar>
    <ion-content>
      <ng-pdf ng-if="pdfUrl" template-url="partials/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>
    </ion-content>
  </ion-modal-view>
</script>
